@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

$colour1: #264945; // green
$colour2: #261f27; // purple
$colour3: #ffffff; // white
$colour4: #222222; // black
$colour5: #c9a33a; // yellow

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: $colour2;
    color: $colour3;
    line-height: 1.6;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    // scroll-snap-type: y mandatory;
}

/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgba(0,0,0,.6);
    justify-content: center;

    ul {
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-size: 24px;

        .navname {
            margin-right: auto;
        }

        li {
            margin: 0 1rem;
            padding: 1rem;

            a {
                text-decoration: none;
                text-transform: uppercase;
                color: $colour3;
                
            }

            a:hover {
                color: $colour5;
            }
        }
    }
}

/* Sections */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    // scroll-snap-align: center;

    h1 {
        font-size: 4rem;
    }

    p {
        font-size: 1.5rem;
    }
}

/* Home */

section#home {
    height: 50vh;
    background: url('../images/welcome_bg.jpg') no-repeat center center/cover;;
}

/* About */

section#about {
    background: url('../images/about_bg.jpg') no-repeat center center/cover;;
    ;
    color: $colour2;
    height: 50vh;
}

/* Projects */

section#projects {
    padding: 60px 0;
    background: url('../images/projects_bg.jpg') no-repeat center center/cover;
    ;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .project-box {
        margin: 20px;
        width: 400px;
        height: 100%;
        background-color: $colour3;
        border-radius: 25px;
        color: $colour2;
        padding: 15px;

        .project-name {
            background-color: $colour1;
            color: $colour3;
            border-radius: 8px;
        }

        img {
            width: 100%;
            border-radius: 25px;
        }

        .project-description {
            font-size: 16px;
            text-align: left;
            margin: 10px 0 15px 0;
        }

        .demo, .code {
            text-decoration: none;
            font-size: 24px;
            margin: 0 5px;
        }

        .demo {
            background-color: $colour5;
            color: $colour2;
            padding: 10px 15px;
            border-radius: 20px;
        }

        .demo:hover {
            background-color: #917529;
        }

        .code {
            background-color: #525252;
            color: $colour3;
            padding: 10px 15px;
            border-radius: 20px;
        }

        .code:hover {
            background-color: #2b2a2a;
        }
    }
}

/* Contact */

section#contact {
    background-color: $colour3;
    color: $colour2;
    height: 70vh;
    background: url('../images/contact_bg.jpg') no-repeat center center/cover;;
}

/* Footer */

.footer {
    background-color: rgba(0, 0, 0, .6);
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 758px) {
    .navbar {
        
        ul {
            font-size: 1rem;
            
            li {
                margin: 0;
            }
        }
    }
}
@media only screen and (max-width: 462px) {
    .navbar {
        
        ul {
            .navname {
                display: none;
            }
        }
    }
}