@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

$colour1: #264945; // green
$colour2: #261f27; // purple
$colour3: #ffffff; // white
$colour4: #222222; // black
$colour5: #c9a33a; // yellow

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: $colour2;
    color: $colour3;
    line-height: 1.6;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    // scroll-snap-type: y mandatory;
}

/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgba(0,0,0,.6);
    justify-content: center;

    ul {
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-size: 24px;

        .navname {
            margin-right: auto;
        }

        li {
            margin: 0 1rem;
            padding: 1rem;

            a {
                text-decoration: none;
                text-transform: uppercase;
                color: $colour3;
                
            }

            a:hover {
                color: $colour5;
            }
        }
    }
}

/* Sections */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    // scroll-snap-align: center;

    h1 {
        font-size: 4rem;
    }

    p {
        font-size: 24px;
    }
}

/* Home */

section#home {
    height: 100vh;
    background: url('../images/bg_black1.jpg') no-repeat center center/cover;;

    .cta-btn {
        text-decoration: none;
        font-size: 24px;
        margin: 20px 0 0 0;
        background-color: $colour5;
        color: $colour2;
        padding: 10px 15px;
        border-radius: 20px;
    }

    .cta-btn:hover {
        background-color: #917529;
    }

    .profile-pic {
        width: 250px;
        border-radius: 50%;
        padding: 25px;
    }

    p {
        padding: 25px;
        width: 40%;
        background-color: rgba(0, 0, 0, .7);
    }
}

/* About */

// section#about {
//     background: url('../images/about_bg.jpg') no-repeat center center/cover;;
//     ;
//     color: $colour2;
//     height: 50vh;
//     p {
//         font-size: 24px;
//         width: 80%;

//         a {
//             text-decoration: none;
//             color: $colour1;
//         }
//     }
// }

/* Projects */

section#projects {
    padding: 60px 0;
    background: url('../images/bg_white1.jpg') no-repeat center center/cover;;
    h1 {
        color: $colour2;
    }
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .project-box {
        margin: 20px;
        width: 400px;
        height: 100%;
        background-color: $colour2;
        border-radius: 25px;
        color: $colour2;
        padding: 15px;

        .project-name {
            background-color: $colour1;
            color: $colour3;
            border-radius: 8px;
        }

        img {
            width: 100%;
            border-radius: 25px;
        }

        .project-description {
            font-size: 16px;
            text-align: left;
            margin: 10px 0 15px 0;
            color: $colour3;
        }

        .demo, .code {
            text-decoration: none;
            font-size: 24px;
            margin: 0 5px;
        }

        .demo {
            background-color: $colour5;
            color: $colour2;
            padding: 10px 15px;
            border-radius: 20px;
        }

        .demo:hover {
            background-color: #917529;
        }

        .code {
            background-color: #525252;
            color: $colour3;
            padding: 10px 15px;
            border-radius: 20px;
        }

        .code:hover {
            background-color: #2b2a2a;
        }
    }
}

/* Contact */

section#contact {
    background: url('../images/bg_black2.jpg') no-repeat center center/cover;
    color: $colour2;
    height: 70vh;
    text-align: left;

    h1, p {
        color: $colour3;
    }

    p {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 10px;
        background-color: $colour1;
    }

    .contact-links {
        background-color: rgba(49, 49, 49, 0.7);
        width: 520px;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            padding: 30px;
        }

        i {
            color: $colour3;
        }

        i:hover {
            color: $colour5;
        }
    }
}

/* Footer */

.footer {
    background-color: rgba(0, 0, 0, .9);
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    flex-direction: column;

    i {
        margin-top: 15px;
    }
}

@media only screen and (max-width: 758px) {
    section#home {
        p {
            font-size: 19px;
            width: 100%;
        }
    }
    .navbar {
        
        ul {
            font-size: 1.5rem;
            
            li {
                margin: 0;
            }
        }
    }
}
@media only screen and (max-width: 516px) {
    .navbar {
        
        ul {
            .navname {
                display: none;
            }
        }
    }
}