@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$main: #113449;
$light: #8bbddd;
$dark: #17242c;

* {
    box-sizing: border-box;
    margin: auto 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    background-color: $dark;
    font-family: 'Roboto', sans-serif;
}

/* NAV */

nav {
    position: fixed;
    width: 100%;
    background-color: $main;
}

.main-nav {
    display: flex;
    list-style: none;
    font-size: 1em;
    color: $light;
    margin: 0 25vw;

    .container {
        display: flex;
        margin-left: auto;
    }

    li {
        padding: 20px;
    }

    a {
        color: $light;
        text-decoration: none;
    }

    a:hover {
        color: $dark;
    }
}

/* SECTIONS */
main {
    .container{
        display: flex;
    }
}

section {
    height: 100vh;
    padding-top: 4.7em;
}

#home, #projects, #contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark {
    background-color: $dark;
    color: $light;
}

.light {
    background-color: $light;
    color: $dark;
}

/* FOOTER */
#footer {
    background-color: $main;
    display: flex;
    font-size: 1em;
    color: $light;
    padding: 20px;
    align-items: center;
    justify-content: center;
}