@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

$primary-color: rgb(134, 54, 54);
$blue: #183263;
$darkblue: #0f1f3b;
$gold: #cbb167;
$silver: #c8c8c8;
$bronze: #c6976d;
$black: #242424;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $darkblue;
    font-family: 'Roboto Condensed', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: $blue;
    display: grid;
    overflow: auto;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h16v2h-6v6h6v8H8v-6H2v6H0V0zm4 4h2v2H4V4zm8 8h2v2h-2v-2zm-8 0h2v2H4v-2zm8-8h2v2h-2V4z' fill='%230f1f3b' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

section {
    padding: 2em 0;
}

.heading {
    padding-bottom: .1em;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.line {
    height: 3px;
    background-color: $silver;
    opacity: .3;
    width: 100%;
}

// Navbar
// .nav-wrapper {
//     max-width: 900px;
//     background-color: red;
// }
nav {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    height: 3em;
    background-color: $black;
    width: 100%;
    padding: 0 1em;

    h1 {
        font-size: 1.5em;
        color: $gold;
    }

    ul {
        display: flex;
        justify-content: flex-end;
        justify-content: space-between;
    }

    a {
        font-size: 1.3em;
        color: $silver;
    }

    // li:nth-child(3) {
    //     background-color: rgb(44, 41, 41);
    // }

    a:hover {
        color: $bronze;
    }
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

// Home
#home {
    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 10px solid $gold;
    }

    h1 {
        color: $silver;
    }

    h2 {
        color: $bronze;
    }
    // min-height: 50vh;
}

// Projects
#projects {
    display: grid;

    h1 {
        font-size: 3em;
        color: $silver;
    }
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: $black;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 0em;
    width: 24em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0.8;
    transition: opacity .2s;
    border: 3px solid $gold;
    border-bottom-left-radius: 25px;    
    margin: 15px;

    img {
        width: 100%;
        background-color:$silver;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 5px;
        padding: 1em;
    }

    h3 {
        text-align: center;
        padding-top: 0em;
        font-size: 1.3em;
        color: $silver;
    }
}

.card:hover {
    opacity: 1;
}

// Contact
#contact {
    background-color: $black;
    h1 {
        color: $silver;
    }

    i {
        color: $gold;
        margin: 0 5px;
        transition: transform .2s;
    }

    i:hover {
        transform: scale(1.1);
    }
}

// Footer
footer {
    display: flex;
    justify-content: center;
    padding: 1em 0;
    color: $silver;
    background-color: $black;
}

@media(max-width: 500px) {
    nav {
        grid-template-columns: 1.5fr 2fr;
    }
}