@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

$primary-color: #004953;
$secondary-color: #eb593d;
$tertiary-color: #ffffff;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: $tertiary-color;
}

#header {
    display: flex;
    background-color: $primary-color;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    border-bottom: solid $secondary-color .4em;
}

#name {
    color: $tertiary-color;
    margin-left: 10vw;
    font-size: 3vh;

}

#nav-menu {
    list-style: none;
    display: flex;
    margin-right: 10vw;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 2vh;
}

.right-nav-link {
    margin-left: 5em;
}

.nav-link:hover {
    color: $secondary-color;
}

@media (max-width: 800px) {
body {
    background-color: yellow;

    #name {
        font-size: 2vh;
    }

    #nav-menu {
        list-style: none;
        display: flex;
        margin-right: 10vw;
    }

    .nav-link {
        font-size: 1.8vh;
    }

    .right-nav-link {
        margin-left: 1em;
    }
}